.container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 40%;
  height: 30%;
  background-color: white;
}
.body {
  flex: 1;
  display: flex;
  padding: 10px;
}
.content {
  display: flex;
  flex-direction: row;
  flex: 1;
}
